<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah"/>
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
    </sectionGroup>
  </configSections>
  <connectionStrings configSource="Connection.config"/>
  
  <appSettings file="user.config">
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="Miles.AdminSiteURL" value="http://local.trainingllq.milesapp.com/"/>
    <!--miles keys for application-->
    <add key="Miles.ApplicationName" value="Template 4.5"/>
    <add key="Miles.RememberMeEnabled" value="true"/>
    <add key="Miles.UsernameValidationExpression" value="^[a-zA-Z0-9_]{3,}$"/>
    <add key="Miles.UsernameValidationErrorMessage" value="Username must only contain alpha-numeric characters and underscores, and be at least three characters long"/>
    <add key="Miles.PasswordValidationExpression" value="^.*(?=.{8,})(?=.*[a-z])(?=.*[A-Z])(?=.*[\d\W]).*$"/>
    <add key="Miles.PasswordValidationMessage" value="Password must be at least eight characters, contain at least one number or symbol, and contain at least one uppercase letter"/>
    <add key="Miles.URLValidationExpression" value="^(http|https|ftp)\://([a-zA-Z0-9\.\-]+(\:[a-zA-Z0-9\.&amp;%\$\-]+)*@)*((25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9])\.(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9]|0)\.(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9]|0)\.(25[0-5]|2[0-4][0-9]|[0-1]{1}[0-9]{2}|[1-9]{1}[0-9]{1}|[0-9])|localhost|([a-zA-Z0-9\-]+\.)*[a-zA-Z0-9\-]+\.(com|edu|gov|int|mil|net|org|biz|arpa|info|name|pro|aero|coop|museum|[a-zA-Z]{2}))(\:[0-9]+)*(/($|[a-zA-Z0-9\.\,\?\'\\\+&amp;%\$#\=~_\-]+))*$"/>
    <add key="Miles.URLValidationMessage" value="Invalid URL Format. URL must be in this format: http://somecompany.com "/>
    <add key="Miles.Actions" value="(MARK|SAVE|DELETE|RENAME|MOVE|NEW|ADD|REMOVE|EDIT|REMOVE|ACTIVATE|UPLOAD|UPDATE|SUBMIT|ASSOCIATE|REPLACE|NEXT|ARCHIVE)"/>
   
    <!--documents - as a general rule, always end with a \ or /-->
    <add key="Miles.DocumentsPath" value="~/Documents/"/>
    <add key="Miles.DocumentsFolder" value="C:\Webapps\TrainingLLQ\Documents\"/>
    <add key="Miles.TempDocumentPath" value="~/Documents/TempDocuments/"/>
    <add key="Miles.TempDocumentFolder" value="C:\Webapps\TrainingLLQ\Documents\TempDocuments\"/>
    <add key="Miles.PicturesPath" value="~/Documents/Pictures/"/>
    <add key="Miles.PicturesFolder" value="C:\Webapps\TrainingLLQ\Documents\Pictures\"/>
    <add key="Miles.UploadedDocumentsPath" value="~/Documents/UploadedDocuments/"/>
    <add key="Miles.UploadedDocumentsFolder" value="C:\Webapps\TrainingLLQ\Documents\UploadedDocuments\"/>
    <add key="Miles.ProductImagePath" value="~/Documents/ProductImages/"/>
    <add key="Miles.ProductImageFolder" value="C:\Webapps\TrainingLLQ\Documents\ProductImages\"/>
    
    
    <!-- active directory authentication -->
    <add key="Miles.ADEnabled" value="true"/>
    <add key="Miles.ADPath" value="LDAP://miles-dc01.miles.office"/>
    <add key="Miles.ADImpersonateUserID" value="1"/>
    
    
    
    
    
    <!--邮件测试-->
    
    <!-- Email Test Mode -->
    <!--<add key="Miles.EmailTestMode" value="false"/>
    <add key="Miles.EmailTestModeSendTo" value="luquan@milestechnologies.com"/>-->
    
    
    <!-- Caching Related Keys -->
    <add key="Miles.BypassCaching" value="false"/>
    <add key="Miles.FunctionAccessCacheKey" value="miles.{0}.functionAccess"/>
    <add key="Miles.MetaFunctionsCacheKey" value="miles.metafunctions"/>
    <add key="Miles.MetaMenuCacheKey" value="miles.{0}.metamenu"/>
    <!--<add key="Miles.CategoryMenuCacheKey" value="miles.{0}.categories"/>-->
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <!-- Caching Related Keys -->
    <add key="Miles.DocumentsMaxFileSize" value="4194304"/>
  </appSettings>
  <!-- ERROR LOGGING MODULE SETTINGS-->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <pages configSource="Pages.config"/>
    <!-- SESSION STATE -->
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" timeout="60"/>
    <!-- Authentication -->
    <authentication mode="Forms">
      <forms loginUrl="~/Security/Login.aspx" name=".template" timeout="60"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <customErrors mode="Off" defaultRedirect="~/SystemPages/Error.aspx">
      <error statusCode="404" redirect="~/SystemPages/404.aspx"/>
    </customErrors>
    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah"/>
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah"/>
    </httpModules>
  </system.web>
  <!--custom security-->
   <location path="Telerik.Web.UI.WebResource.axd">
	<system.web>
		<authorization>
			<allow users="*" />
		</authorization>
	</system.web>
</location>
<location path="Telerik.Web.UI.ScriptResource.axd">
	<system.web>
		<authorization>
			<allow users="*" />
		</authorization>
	</system.web>
</location>
  <location path="SystemPages">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Styles">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- Mail Server Settings -->
  <system.net>
    <mailSettings>
      <smtp>
        <network host="outbound01.4miles.com"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
    </staticContent>
    <handlers>
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource"/>
      <add name="Telerik_Web_UI_DialogHandler_aspx" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler"/>
      <add name="Telerik.ReportViewer.axd_*" path="Telerik.ReportViewer.axd" verb="*" type ="Telerik.ReportViewer.WebForms.HttpHandler, Telerik.ReportViewer.WebForms, Version=7.1.13.802, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" preCondition="integratedMode"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler"/>
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler"/>
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler"/>
    </modules>
    <urlCompression doDynamicCompression="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!-- ERROR LOGGING MODULE SETTINGS-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <elmah>
    <!--
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on remote access and securing ELMAH.
       -->
    <security allowRemoteAccess="0"/>
    <!-- to log emails in SQL Server uncomment this -->
    <!--<errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="MilesLibrary.ConnectionString"/>-->
    <!-- if you want to send emails when an error happens uncomment the below section -->
    <!--<errorMail from="pinky@4miles.com" to="pinky@4miles.com,pash@4miles.com" subject="Template 4.5 - Error" priority="Normal" async="true" smtpPort="25" smtpServer="outbound01.4miles.com" useSsl="false" userName="" password="" noYsod="false"/>-->
  </elmah>
  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah"/>
      </httpHandlers>
      <!-- 
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on using ASP.NET authorization securing ELMAH.

      <authorization>
        <allow roles="admin" />
        <deny users="*" />  
      </authorization>
      -->
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode"/>
      </handlers>
    </system.webServer>
  </location>
</configuration>