 .rbSkinnedButton.btn
 {
     height: auto;
 }
/*rad button style when .btn class is applied*/
.RadButton_Silk.RadButton.btn.rbDisabled:active,
.RadButton_Silk.RadButton.btn.rbDisabled:focus,
.RadButton_Silk.RadButton.btn.rbDisabled:hover,
.RadButton_Silk.RadButton.rbSkinnedButton.btn,
.RadButton_Silk.RadButton.rbSkinnedButton.btn:active,
.RadButton_Silk.RadButton.rbSkinnedButton.btn:focus,
.RadButton_Silk.RadButton.rbSkinnedButton.btn:hover {
    border: none;
    background: none;
    height: auto;
    vertical-align: middle;
}

.RadButton.rbSkinnedButton.btn {
    padding: 0;
    margin: 0;
}


    .RadButton.rbSkinnedButton.btn.btn-block {
        width: 100%;
        display: block;
    }

        .RadButton.rbSkinnedButton.btn.btn-block input {
            width: 100%;
        }

    .RadButton.rbSkinnedButton.btn .rbPrimaryIcon {
        top: 9px;
    }

        .RadButton.rbSkinnedButton.btn .rbPrimaryIcon + input.rbDecorated {
            padding-left: 24px;
        }

    .RadButton.rbSkinnedButton.btn input,
    .RadButton.rbSkinnedButton.btn input.rbDecorated {
        background: none;
        margin: 0;
        display: inline-block;
        padding: 6px 12px;
        vertical-align: middle;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.428571429;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        border: 1px solid transparent;
        border-radius: 4px;
        white-space: nowrap;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
        height: auto;
    }

        .RadButton.rbSkinnedButton.btn input.rbDecorated.rbPrimary.rbSecondary {
            padding: 6px 25px;
        }

        .RadButton.rbSkinnedButton.btn input.rbDecorated.rbSecondary {
            padding: 6px 25px 6px 12px;
        }

    .RadButton.rbSkinnedButton.btn .rbSplitRight {
        background-position: -15px -58px;
    }

    .RadButton.rbSkinnedButton.btn.btn-lg input {
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.33;
        border-radius: 6px;
    }

    .RadButton.rbSkinnedButton.btn.btn-sm input {
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
    }

    .RadButton.rbSkinnedButton.btn.btn-xs input {
        padding: 1px 5px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
    }


    .RadButton.rbSkinnedButton.btn input:focus {
        outline: thin dotted #333;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

    .RadButton.rbSkinnedButton.btn input:hover,
    .RadButton.rbSkinnedButton.btn input:focus {
        color: #333333;
        text-decoration: none;
    }

    .RadButton.rbSkinnedButton.btn input:active,
    .RadButton.rbSkinnedButton.btn.active input {
        outline: 0;
        background-image: none;
        -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    }

    .RadButton.rbSkinnedButton.btn input[disabled],
    fieldset[disabled] .RadButton.rbSkinnedButton.btn input,
    .RadButton.rbSkinnedButton.rbDisabled.btn input {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.65;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        box-shadow: none;
    }


    /*default*/
    .RadButton.rbSkinnedButton.btn.btn-default input {
        color: #333333;
        background-color: #ffffff;
        border-color: #cccccc;
    }

        .RadButton.rbSkinnedButton.btn.btn-default input:hover,
        .RadButton.rbSkinnedButton.btn.btn-default input:focus,
        .RadButton.rbSkinnedButton.btn.btn-default input:active {
            color: #333333;
            background-color: #ebebeb;
            border-color: #adadad;
        }

        .RadButton.rbSkinnedButton.btn.btn-default input:active {
            background-image: none;
        }

    /*primary*/
    .RadButton.rbSkinnedButton.btn.btn-primary input {
        color: #ffffff;
        background-color: #5cb85c;
        border-color: #4cae4c;
    }

        .RadButton.rbSkinnedButton.btn.btn-primary input:hover,
        .RadButton.rbSkinnedButton.btn.btn-primary input:focus,
        .RadButton.rbSkinnedButton.btn.btn-primary input:active {
            color: #ffffff;
            background-color: #47a447;
            border-color: #398439;
        }

        .RadButton.rbSkinnedButton.btn.btn-primary input:active {
            background-image: none;
        }

    /*secondary*/
    .RadButton.rbSkinnedButton.btn.btn-secondary input {
        color: #ffffff;
        background-color: #428bca;
        border-color: #357ebd;
    }


        .RadButton.rbSkinnedButton.btn.btn-secondary input:hover,
        .RadButton.rbSkinnedButton.btn.btn-secondary input:focus,
        .RadButton.rbSkinnedButton.btn.btn-secondary input:active {
            background-color: #3276b1;
            border-color: #285e8e;
        }

        .RadButton.rbSkinnedButton.btn.btn-secondary input:active {
            background-image: none;
        }

    /*danger*/
    .RadButton.rbSkinnedButton.btn.btn-danger input {
        color: #ffffff;
        background-color: #d9534f;
        border-color: #d43f3a;
    }


        .RadButton.rbSkinnedButton.btn.btn-danger input:hover,
        .RadButton.rbSkinnedButton.btn.btn-danger input:focus,
        .RadButton.rbSkinnedButton.btn.btn-danger input:active {
            background-color: #d2322d;
            border-color: #ac2925;
        }

        .RadButton.rbSkinnedButton.btn.btn-danger input:active {
            background-image: none;
        }


    /*warning*/
    .RadButton.rbSkinnedButton.btn.btn-warning input {
        color: #ffffff;
        background-color: #f0ad4e;
        border-color: #eea236;
    }


        .RadButton.rbSkinnedButton.btn.btn-warning input:hover,
        .RadButton.rbSkinnedButton.btn.btn-warning input:focus,
        .RadButton.rbSkinnedButton.btn.btn-warning input:active {
            color: #ffffff;
            background-color: #ed9c28;
            border-color: #d58512;
        }

        .RadButton.rbSkinnedButton.btn.btn-warning input:active {
            background-image: none;
        }
