
/*elements*/


h1
{
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Segoe UI Light', 'Verdana';
    font-size: 18pt;
    color: #2679b5;
    font-weight: normal;
}

h2
{
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Segoe UI Light', 'Verdana';
    font-size: 16pt;
    color: #1b4e6d;
    font-weight: normal;
}

/*end elements*/

/*classes*/

/*layout*/

.clear
{
    clear: both;
}

.cleared
{
    overflow: hidden;
}

.wrapper
{
    margin: 0px 15px;
}

    .wrapper .dialog-actions
    {
        background-color: #e7f1f7;
        border-radius: 0 0 4px 4px;
        padding: 10px;
        margin-top: 15px;
    }

/*end layout*/

/*dialog*/
.dialog-content
{
    overflow: auto;
}

    .dialog-content .inner-content
    {
        padding: 0 15px;
    }

    .dialog-content .dialog-actions
    {
        padding: 10px;
        margin: 0;
        position: fixed;
        bottom: 0px;
        left: 0;
        width: 100%;
        background-color: #d7e4ee;
    }

.dialog-toolbar
{
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 10px;
}

@media screen and (max-width:768px) {
    .dialog-content .dialog-actions
    {
        padding: 10px 10px 40px 10px;
    }
}

/*end dialog*/

/*entity footer*/
.entity-footer
{
    font-size: 0.75em;
}

/*end entity footer*/


/*controls*/
a.aspNetDisabled,
a.aspNetDisabled:hover
{
    cursor: default;
    color: #ccc;
    text-decoration: none;
}

.btn-secondary
{
    color: #ffffff;
    background-color: #428bca;
    border-color: #357ebd;
}

    .btn-secondary:hover,
    .btn-secondary:focus,
    .btn-secondary:active,
    .btn-secondary.active,
    .open .dropdown-toggle.btn-secondary
    {
        color: #ffffff;
        background-color: #3276b1;
        border-color: #285e8e;
    }

    .btn-secondary:active,
    .btn-secondary.active,
    .open .dropdown-toggle.btn-secondary
    {
        background-image: none;
    }

    .btn-secondary.disabled,
    .btn-secondary[disabled],
    fieldset[disabled] .btn-secondary,
    .btn-secondary.disabled:hover,
    .btn-secondary[disabled]:hover,
    fieldset[disabled] .btn-secondary:hover,
    .btn-secondary.disabled:focus,
    .btn-secondary[disabled]:focus,
    fieldset[disabled] .btn-secondary:focus,
    .btn-secondary.disabled:active,
    .btn-secondary[disabled]:active,
    fieldset[disabled] .btn-secondary:active,
    .btn-secondary.disabled.active,
    .btn-secondary[disabled].active,
    fieldset[disabled] .btn-secondary.active
    {
        background-color: #3276b1;
        border-color: #285e8e;
    }


/*end controls*/

/*labels*/
span.required
{
    text-transform: uppercase;
    color: #f0ad4e;
    font-size: 0.75em;
}
/*end labels*/

/*details*/
.detail
{
}

    .detail .detail-header
    {
    }

    .detail .detail-body
    {
        border: 1px solid #e7f1f7;
        border-radius: 0;
        padding: 10px;
    }

    .detail .detail-footer
    {
        background-color: #e7f1f7;
        border-radius: 0 0 4px 4px;
        padding: 10px;
    }
/*end details*/

/*miles picture*/
.miles-picture
{
    /*cursor: pointer;*/
    background-color: #000;
    /*-webkit-filter: blur(0) brightness(1);*/
    transition: -webkit-filter 0.5s ease-in-out;
}

    .miles-picture:hover
    {
        -webkit-filter: blur(1px) brightness(.75);
    }

/*end miles picture*/

/*miles search panel custom css*/
.miles-search-panel .row
{
    padding: 0 10px;
}

    .miles-search-panel .row div[class*="col"]
    {
        padding: 0 5px;
    }
/*end miles search panel custom css*/

/*menu tree view*/
.menu-tree
{
    position: relative;
    padding: 15px;
    background-color: #eee;
    border-radius: 4px;
    min-height: 500px;
}

    .menu-tree .menu-tree-footer
    {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }

        .menu-tree .menu-tree-footer > div
        {
            background-color: #ddd;
            padding: 10px;
            border-radius: 0 0 4px 4px;
        }
/*end menu tree view*/


/*end classes*/


/*styles for invalid controls*/

input[type="text"].form-control.riEnabled.riTextBox.invalid-control,
input[type="text"].form-control.riEnabled.riTextBox.invalid-control:hover,
input[type="text"].form-control.riEnabled.riTextBox.invalid-control:focus,
input[type="text"].form-control.riFocused.riTextBox.invalid-control,
div.invalid-control .RadInput input[type="text"].form-control.riEnabled.riTextBox,
div.invalid-control .RadInput input[type="text"].form-control.riEnabled.riTextBox:hover,
div.invalid-control .RadInput input[type="text"].form-control.riEnabled.riTextBox:focus,
div.invalid-control .RadInput input[type="text"].form-control.riFocused.riTextBox,
select.invalid-control,
select.invalid-control:focus,
.RadComboBox.form-control.invalid-control > table,
input[type="text"].riHover.invalid-control,
input[type="text"].invalid-control,
input[type="email"].invalid-control,
input[type="password"].invalid-control,
.rcTable td.rcInputCell.invalid-control table,
table.invalid-control,
textarea.invalid-control
{
    border: 1px solid red !important;
    box-shadow: 0px 0px 10px red !important;
}

/*JGROWL*/
/*override certain styles when using center*/
div.jGrowl.center
{
    width: 600px !important;
    margin-left: -300px;
    left: 50% !important;
    z-index: 10001;
}

.jGrowl.center .jGrowl-notification
{
    width: 100%;
    margin: 0 0 5px 0;
    border-radius: 0;
    opacity: .95;
    min-height: 48px;
    /*box-shadow: 0 0 10px #000;*/
}

.jGrowl.center div.jGrowl-closer
{
    width: 100%;
    margin: 0 0 5px 0;
    border-radius: 0;
}

/*custom styles*/
.jGrowl-notification.ui-state-highlight.errorMsg
{
    background-color: #E24747;
    padding-left: 58px;
    background-position: left top;
    background-image: url('/images/48x48/error_white.png');
    background-repeat: no-repeat;
}

.jGrowl-notification.ui-state-highlight.successMsg
{
    background-color: #47a447;
    padding-left: 58px;
    background-position: left top;
    background-image: url('/images/48x48/ok_white.png');
    background-repeat: no-repeat;
}

.jGrowl-notification.ui-state-highlight.notifyMsg
{
    background-color: #3366CC;
    padding-left: 58px;
    background-position: left top;
    background-image: url('/images/48x48/info_white.png');
    background-repeat: no-repeat;
}

.jGrowl-notification.ui-state-highlight.alertMsg
{
    background-color: #FFCC66;
    padding-left: 58px;
    background-position: left top;
    background-image: url('/images/48x48/alert_white.png');
    background-repeat: no-repeat;
    color: #000 !important;
}

/*responsive styles*/
@media screen and (max-width:768px)
{
    div.jGrowl.center
    {
        width: 300px !important;
        margin-left: -150px;
        left: 50% !important;
    }

    .jGrowl.center .jGrowl-notification
    {
        min-height: initial;
    }

    .jGrowl-notification.ui-state-highlight.errorMsg
    {
        background-image: none;
        padding: 4px !important;
        background-color: #E24747 !important;
    }

    .jGrowl-notification.ui-state-highlight.successMsg
    {
        background-image: none;
        padding: 4px !important;
        background-color: #47a447 !important;
    }

    .jGrowl-notification.ui-state-highlight.notifyMsg
    {
        background-image: none;
        padding: 4px !important;
        background-color: #3366CC !important;
    }

    .jGrowl-notification.ui-state-highlight.alertMsg
    {
        background-image: none;
        padding: 4px !important;
        background-color: #FFCC66 !important;
    }
}

/*END JGROWL*/


/*GLOBAL BOOTSTRAP OVERRIDES*/
/*do not modify the bootstrap.css file. We want to make sure we can drop updates in
  without overwriting YOUR changes
*/

input[type='checkbox'] + label
{
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
    font-weight: normal;
}

span.chk-inline
{
    display: inline-block;
    margin-top: 5px;
    line-height: 34px;
}

.input-group-btn:last-child > .RadButton.rbSkinnedButton.btn input.rbDecorated
{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.input-group-btn:last-child > .RadButton.rbSkinnedButton.btn:not(:last-child):not(.dropdown-toggle) input.rbDecorated
{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}


.input-group .RadComboBox.form-control:last-child table
{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.input-group .RadComboBox.form-control:first-child table
{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
