.RadToolBar_Silk.miles-toolbar .rtbOuter
{
    background-image: none;
    background-color: #3f3f3f;
    border: none;
    /*border-bottom: 1px solid  #ccc;*/
    box-shadow: none;
}

.RadToolBar_Silk.miles-toolbar .rtbItem .rtbWrap
{
    background-image: none;
    background-color: #3f3f3f;
    border: none;
    color:#fff;
}

.RadToolBar_Silk.miles-toolbar .rtbItem.rtbItemHovered .rtbWrap 
{
    background-image: none;
    background-color: #892e65;
    /*color: #3b3b3b;*/
    border: none;
}


.RadToolBar_Silk.miles-toolbar .rtbItem.rtbItemHovered .badge 
{
    background-image: none;
    background-color: #ffffff;
    color: #892e65;
    border: none;
   
}

.rtbSlide.miles-toolbar .rtbItem.rtbItemHovered .rtbWrap
{
    background-image: none;
    background-color: #892e65;
}


.RadFileExplorer_Silk .RadToolBar_Silk.miles-toolbar .rtbOuter
{
    background-image: none;
    background-color: #e7f1f7;
    border: none;
    /*border-bottom: 1px solid  #ccc;*/
    box-shadow: none;
}

.RadFileExplorer_Silk .RadToolBar_Silk.miles-toolbar .rtbItem .rtbWrap
{
    background-image: none;
    background-color: #e7f1f7;
    border: none;
    color:#4b4b4b;
}

.RadFileExplorer_Silk .RadToolBar_Silk.miles-toolbar .rtbItem.rtbItemHovered .rtbWrap
{
    background-image: none;
    background-color: #2dabc1;
    color: #fff;
    border: none;
}