<pages>

  <namespaces>
    <add namespace="BusinessLibrary"/>
    <add namespace="CommonLibrary"/>
    <add namespace="DataLibrary"/>
    <add namespace="MilesControls"/>
    <add namespace="WebControls"/>

    <add namespace="Telerik.Web.UI"/>
  </namespaces>

  <controls>

    <!--server controls-->
    <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
    <add tagPrefix="telerik" namespace="Telerik.ReportViewer.WebForms" assembly="Telerik.ReportViewer.WebForms" />
    <add tagPrefix="miles" namespace="MilesControls" assembly="MilesControls" />
    <add tagPrefix="miles" namespace="WebControls" assembly="WebControls" />

    <!--user controls-->
    <add tagPrefix="miles" tagName="CMSMergeFieldsList" src="~/UserControls/CMSMergeFieldsList.ascx" />
    <add tagPrefix="miles" tagName="MilesAddress" src="~/UserControls/MilesAddress.ascx" />
    <add tagPrefix="miles" tagName="MilesAsyncUpload" src="~/UserControls/MilesAsyncUpload.ascx" />
    <add tagPrefix="miles" tagName="MilesNotes" src="~/UserControls/MilesNotes.ascx" />
    <add tagPrefix="miles" tagName="MilesPictureUpload" src="~/UserControls/MilesPictureUpload.ascx" />
    <add tagPrefix="miles" tagName="UserRoleList" src="~/UserControls/UserRoleList.ascx" />
    <add tagPrefix="miles" tagName="MilesDocuments" src="~/UserControls/MilesDocuments.ascx" />

  </controls>
</pages>